* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #f2f1ea;
}

#signUpAll {
    height: auto;
    width: 300px;
    margin: 80px auto;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    position: relative;
}

h1 {
    display: inline-block;
    color: #666666;
}

.title span {
    color: rgba(0, 0, 0, .5);
    font-size: 14px;
    position: absolute;
    right: 30px;
    top: 50px;
}

.signUpBox .hint-error {
    margin: 5px 0 5px 0;
    color: rgba(140, 34, 44, 0.9);
}

.from-group {
    color: #666666;
    position: relative;
}

.success {
    border: 1px solid rgba(152, 251, 152, 0.7);
}

.fa-check {
    position: absolute;
    bottom: 16px;
    right: -5px;
    color: rgba(152, 251, 152, 1);
}

.error {
    border: 1px solid rgba(140, 34, 44, 0.7);
}

input {
    border: 1px solid #e1e1e1;
}

.signUpBox input {
    height: 35px;
    width: 280px;
    padding-left: 15px;
    outline: none;
    border-radius: 3px;
    margin: 5px 0 5px 0;
    box-sizing: border-box;
}

.signUpBox {
    width: 300px;
    margin: 20px auto;
}

.commit {
    display: inline-block;
    width: 300px;
    height: 55px;
    margin-top: 20px;
    background-color: #8c222c;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}
